@media screen and (max-width : 1609px) {


    .carteproduit {
        width: 100%;

    }

    .contenudescription {
        width: 75%;
        height: 30vw;
    }

    .contenucarteimg {
        width: 100%;
    }

    .carteprix {
        height: 5vw;
    }

    .priceproduct {
        font-size: 2.4em;
        padding-top: 40px;
    }

    .nameproduct {
        font-size: 2em;
    }

    .iconepanier {
        display: none;
    }

    .number {
        display: none
    }

    .container0 {
        height: 150vw;
        display: flex;
        flex-wrap: wrap;

        width: 90%;

    }

    .container1 {
        width: 80%;
        height: 150vw;
        text-align: center;
    }

    .carteteddy {
        width: 60%;
        margin-top: 25px;
        padding-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .teddydescription {
        font-size: 14px;
        width: 100%;
        height: 3vw;

        margin-top: 25px;
    }

    .contenuteddyname {
        height: 30px;
    }

    .teddyname {
        font-size: 40px;
    }

    .voirproduit {
        font-size: 20px;
        padding-top: 10px;
    }

    .imgteddy {
        height: 14vw;
    }

    .contenucarteimg {
        width: 100%;
    }
    

}

@media screen and (max-width : 1143px) {


    .container0 {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 180vw;
        display: flex;
        flex-wrap: wrap;
    }

    .container1 {
        margin-left: 120px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }

    .carteteddy {
        width: 80%;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
    }

    .imgteddy {
        height: 18vw;
    }

    .btnajoutpanier{
        top:200px;
        left: -250px;
        font-size: 12px;
        width:20%;
        height:3vw;
}
}

@media screen and (max-width : 800px) {

    .carteprix {
        height: 5vw;
    }

    .priceproduct {
        font-size: 2.4em;
        padding-top: 40px;
    }

    .nameproduct {
        font-size: 2em;
    }

    .container0 {
        height: 150vw;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 250vw;
    }

    .container1 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin-left: 0;
    }

    .imgteddy {
        height: 25vw;
    }

    .carteteddy {
        width: 70%;
        margin-top: 25px;
        height: 40vw;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .teddydescription {
        font-size: 14px;
        width: 100%;
        height: 3vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }

    .contenuteddyname {
        height: 20px;
    }

    .teddyname {
        font-size: 40px;
    }

    .voirproduit {
        font-size: 20px;
    }

    .barre {
        height: 10%;
    }

    .descrip {
        height: 40vw;
        font-size: 13px;
    }

    .priceproduct {
        font-size: 24px;
        margin-top: 5px;
    }

    .btnajoutpanier{
        top:200px;
        left: -150px;
        font-size: 12px;
        width:20%;
        height:3vw;
}
}


@media screen and (max-width : 520px) {

    .carteproduit {
        height: 50vw;
    }

    .carteprix {
        height: 10vw;
    }

    .priceproduct {
        font-size: 2.4em;
        padding-top: 40px;
    }

    .nameproduct {
        font-size: 2em;
    }

    .barre {
        height: 10vw;
        font-size: 15px;
    }

    .monpanier {
        width: 50%;
    }

    .container0 {
        height: 430vw;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .container1 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin-left: 0;
    }

    .imgteddy {
        height: 30vw;
    }

    .carteteddy {
        width: 90%;
        margin-top: 25px;
        height: 70vw;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .teddydescription {
        font-size: 13px;
        width: 100%;
        height: 5vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14px;
    }

    .contenuteddyname {
        height: 30px;
    }

    .teddyname {
        font-size: 40px;
    }

    .teddyprice {
        padding-top: 30px;
    }

    .voirproduit {
        font-size: 20px;
        padding-top: 30px;
    }


    .contenucarteimg {
        height: 30vw;
    }

    .priceproduct {
        font-size: 25px;
        margin-top: 4px;
    }

    .nameproduct {
        font-size: 25px;
    }

    .imgdescription {
        font-size: 18px;
    }

    .btnajoutpanier{
        top:150px;
        left: -130px;
        font-size: 10px;
        width:30%;
        height:5vw;
}
.questionnaire{
    width:100%;
}

.containerproduit2{
    display: none;
}

.remerciement{
    font-size:20px;
}

.detailcommande{
    font-size: 12px;
}
}

@media screen and (max-width : 350px) {

    .grandcontainer{
        height: 100%;
    }
    .containerproduit {
        height: 120vw;
        background-color: cyan;
    }

    .carteproduit {
        width: 100%;
        height: 90vw;
        background-color: pink;
        margin-top: 20px;

    }

    .contenudescription {
        width: 50%;
        height: 60vw;
        font-size: 8px;
    }

    .contenucarteimg {
        height: 22vw;
    }

    .carteprix {
        height: 5vw;
    }

    .priceproduct {
        font-size: 2.3em;
        padding-top: 150px;
    }

    .nameproduct {
        font-size: 2em;
    }

    .container0 {
        height: 430vw;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .container1 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin-left: 0;
    }

    .imgteddy {
        height: 40vw;
    }

    .carteteddy {
        width: 90%;
        margin-top: 25px;
        height: 90vw;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .teddydescription {
        font-size: 13px;
        width: 100%;
        height: 5vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    .contenuteddyname {
        height: 10px;
    }


    .teddyname {
        font-size: 30px;
        margin-top: 50px;
    }

    .teddyprice {
        padding-top: 50px;
    }

    .voirproduit {
        font-size: 20px;
    }

    .btnajoutpanier{
        top:300px;
        font-size: 7px;
        width:30%;
    }
    .footer{
        margin-top: 20vw;
    }
    .btnajoutpanier{
        top:300px;
        left: -150px;
        font-size: 10px;
        width:40%;
        height:5vw;
}
}
