@media screen and (max-width : 1600px) {

    .grandcontainermobile {
        height: 190vw;
        margin-left: auto;
        margin-right: auto;
    }

    #inscription {
        margin-left: auto;
        margin-right: auto;
    }

    .carteproduit {
        height: 100vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .imgdescriptionmobile {
        font-size: 15px;
    }


    .contenudescription {
        width: 100%;
        border-radius: 0px 0px 23px 23px;
    }


    .imgproduitpaniermobile {
        width: 40%;
    }

    .contenumobile {
        width: 30%;
        border-radius: 0px 0px 0px 0px;

    }

    .contenucarteimg {
        width: 100%;
    }

    .carteprix {
        height: 5vw;
    }

    .priceproduct {
        font-size: 2.4em;
        padding-top: 40px;
    }

    .nameproduct {
        font-size: 2em;
    }

    .iconepanier {
        display: none;
    }

    .number {
        display: none
    }

    .container0 {
        height: 150vw;
        display: flex;
        flex-wrap: wrap;

        width: 90%;

    }

    .container1 {
        width: 100%;
        height: 150vw;
        text-align: center;
    }

    .carteteddy {
        width: 60%;
        margin-top: 25px;
        padding-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .teddydescription {
        font-size: 14px;
        width: 100%;
        height: 3vw;

        margin-top: 25px;
    }

    .contenuteddyname {
        height: 30px;
    }

    .teddyname {
        font-size: 40px;
    }

    .voirproduit {
        font-size: 20px;
        padding-top: 10px;
    }

    .imgteddy {
        height: 14vw;
    }

    .contenucarteimg {
        width: 100%;
    }


}

@media screen and (max-width : 1365px) {
    .grandcontainermobile {
        height: 110vw;
        margin-left: auto;
        margin-right: auto;
    }

    .container0 {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 180vw;
        display: flex;
        flex-wrap: wrap;
    }

    .container1 {
        margin-left: 120px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .carteteddy {
        width: 80%;
        height: 30vw;
        margin-left: auto;
        margin-right: auto;
    }

    .imgteddy {
        height: 18vw;
    }

    .btnajoutpanier {
        top: 200px;
        left: -250px;
        font-size: 12px;
        width: 20%;
        height: 3vw;
    }
    .barre {
        height: 10%;
    }
}

@media screen and (max-width : 824px) {

    .grandcontainermobile {
        height: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

    .carteproduit {
        height: 90vw;
        width: 100%;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .questionnaire {
        width: 100%;
    }

    #inscription {
        margin-left: auto;
        margin-right: auto;
    }

    .imgdescriptionmobile {
        font-size: 15px;
    }

    .imgproduitpanier {
        border-radius: 23px 23px 0px 0px;
    }

    .carteprix {
        height: 5vw;
    }

    .priceproduct {
        font-size: 2.4em;
        padding-top: 40px;
    }

    .nameproduct {
        font-size: 2em;
    }

    .container0 {
        height: 150vw;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 250vw;
    }

    .container1 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin-left: 0;
    }

    .imgteddy {
        height: 25vw;
    }

    .carteteddy {
        width: 70%;
        margin-top: 25px;
        height: 40vw;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .teddydescription {
        font-size: 14px;
        width: 100%;
        height: 3vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }

    .contenuteddyname {
        height: 20px;
    }

    .teddyname {
        font-size: 40px;
    }

    .voirproduit {
        font-size: 20px;
    }

    .barre {
        height: 20%;
    }

    .barreitems {
        width: 100%;
    }

    .monpanier {
        width: 40%;
    }

    .descrip {
        width: 97%;
        border-radius: 0px 0px 23px 23px;
    }

    .priceproduct {
        font-size: 24px;
        margin-top: 5px;
    }

    .btnajoutpanier {
        top: 360px;
        left: -150px;
        font-size: 12px;
        width: 30%;
        height: 3vw;
    }

    .contenucarteimg {

        border-radius: 23px 23px 0px 0px;
    }
}


@media screen and (max-width : 570px) {

    .grandcontainermobile {
        height: 190vw;

    }

    .carteproduit {
        height: 130vw;
        width: 100%;
        flex-direction: column;

    }

    .imgproduitpanier {
        border-radius: 23px 23px 0px 0px;
    }

    .carteprix {
        height: 20vw;
        width: 98%;
    }

    .color {
        width: 25%;
    }

    .priceproductmobile {
        font-size: 8px;
        ;
    }

    .contenumobile {
        width: 100%;
        height: 80vw;
        border-radius: 0px 0px 0px 0px;
    }

    .descrip {
        width: 97%;
        border-radius: 0px 0px 23px 23px;
    }

    .priceproduct {
        font-size: 2.4em;
        padding-top: 40px;
    }

    .nameproduct {
        font-size: 2em;
    }

    .barre {
        height: 10vw;
        font-size: 15px;
    }

    .monpanier {
        width: 50%;
    }

    .container0 {
        height: 430vw;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }

    .container1 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin-left: 0;
    }

    .imgteddy {
        height: 30vw;
    }

    .carteteddy {
        width: 90%;
        margin-top: 25px;
        height: 70vw;
        padding-bottom: 30px;
        margin-left: auto;
        margin-right: auto;

    }

    .teddydescription {
        font-size: 13px;
        width: 100%;
        height: 5vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 14px;
    }

    .totalpanier {
        height: 10vw;
    }

    .contenuteddyname {
        height: 30px;
    }

    .teddyname {
        font-size: 40px;
    }

    .teddyprice {
        padding-top: 30px;
    }

    .voirproduit {
        font-size: 20px;
        padding-top: 30px;
    }




    .priceproduct {
        font-size: 25px;
        margin-top: 4px;
    }

    .nameproduct {
        font-size: 25px;
    }

    .imgdescription {
        font-size: 18px;
    }

    .btnmobile {
        top: 270px;
        left: -170px;
        font-size: 10px;
        width: 40%;
        height: 5vw;
    }

    .questionnaire {
        width: 100%;
    }

    .containerproduit2 {
        display: none;
    }

    .remerciement {
        font-size: 15px;
    }

    .detailcommande {
        font-size: 10px;
    }

    .barreitems {
        font-size: 12px;
    }

    .imgdescriptionmobile {
        font-size: 12px;
    }
}