body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lora', serif;
}

.header {
    display: flex;
    background-color: rgb(246, 228, 246);
    width: 100%;
    height: 8vw;
    justify-content: space-between;
}

.containerlogo {
    width: 80%;
    height: 8vw;
}

.logo {
    width: 30%;
    object-fit: cover;
    height: 100%;
}

.iconepanier {
    position: relative;
    width: 20%;
    height: 8vw;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.fa-cart-arrow-down {
    position: relative;
    font-size: 4em;
    color: black;
    margin-top: 40px;
}

.number {
    background-color: rgb(251, 251, 251);
    height: fit-content;
    padding: 0px 4px;
    color: black;
    border-radius: 80%;
    position: absolute;
    top: 100px;
    right: 200px;
    width: 13px;
    height: 20px;
    font-size: 20px;
}

body {
    background-color: rgb(243, 234, 236);
}

.containerproduct {
    width: 100%;
    height: 40vw;
}

.barre {
    background-color: rgb(216, 97, 97);
    width: 100%;
    height: 3vw;
    display: flex;
}

.accueil {
    width: 10%;
    font-size: 13px;
}


.monpanier {
    width: 20%;
    font-size: 13px;
}

.linkbarre {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    color: black;
    text-decoration: none;
}


.containerproduit2 {
    display: flex;
    background-color: rgb(217, 217, 223);
    width: 90%;
    height: 40vw;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
}

.ligneproduit {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 98%;
    height: 10vw;
    margin-top: 10px;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    justify-content: center;
    height: 5vw;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.color {
    height: 5vw;
    margin-top: 50px;
    text-align: center;
    width: 8%;
    font-size: 1.3em;
}

.imgproduitpanier {
    width: 15%;
    height: 8vw;
}

.imageproduitpanier {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quantite {
    display: flex;
    width: 9%;
    margin-top: 50px;
    margin-bottom: auto;
    font-size: 1.4em;
}

.cart-quantity {
    width: 20%;
    margin-left: 10px;
    font-size: 1em;
}

.prixproduitpanier {
    display: flex;
    width: 7%;
    margin-top: 50px;
    margin-bottom: auto;
    font-size: 1.4em;
}

.btnremove {
    width: 19%;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-remove {
    border-radius: 10px 10px 10px 10px;
    width: 90%;
    font-size: 1.3em;
}

.totalpanier {
    display: flex;
    background-color: white;
    width: 90%;
    height: 3vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    justify-content: space-between;
}

.totaltitle {
    padding-left: 20px;
}


.passercommande {
    width: 100%;
    border-top: 1px solid #BCBCBC;
    margin-top: 30px;
    text-align: center;
}

.questionnaire {
    display: flex;
    align-items: center;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

.form-control {
    text-align: center;
    width: 100%;
}

.label-margin {
    display: grid;
    row-gap: 10px;
    width: 400px;
    margin-bottom: 15px;
}

#questions {
    display: grid;
    width: 60%;
    margin-right: auto;
    margin-left: auto;

    justify-content: center;
}

.btn-commander {
    background-color: rgb(226, 167, 167);
    height: 2vw;
    border-radius: 10px 10px 10px 10px;
    border-color: transparent;
}



.pieddepage {
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
    width: 98%;
    margin: 0;
    padding-left: 20px;
}

.colonnes {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

.colonne1 {
    width: 40%;
}

.colonne2 {
    width: 40%;
}

.linkfooter {
    text-decoration: none;
    color: black;
    list-style: none;
}





.p3-teddy-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 50%;
}

.p3-teddy {
    width: 52%;
    height: 185px;
    margin-right: 30px;
}

.p3-teddy-name {
    margin-top: 0;
}

.p3-teddy-pic {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.cart-header {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.order {
    margin-top: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.input-group {
    margin-bottom: 10px;
}

.buy {
    width: 100%;
    border-top: 1px solid #BCBCBC;
    margin-top: 30px;
}

.empty {
    width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}

.label-margin {
    display: grid;
    row-gap: 5px;
    width: 340px;
    margin-bottom: 15px;
}

.submit {
    display: block;
    cursor: pointer;
    background-color: #8C5785;
    border: none;
    color: white;
    padding: 10px 108px;
    border-radius: 12px;
}

#form_1 {
    display: grid;
    width: fit-content;
    margin: auto;
}

.total-price {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}